<!DOCTYPE html>
<html>
<head>
<title>Edit</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">

<h1>Upravit studenta</h1>

<form method="POST">
<input name="jmeno" value="{{ student[1] }}" class="form-control mb-2">
<input name="prijmeni" value="{{ student[2] }}" class="form-control mb-2">
<input name="email" value="{{ student[3] }}" class="form-control mb-2">
<input name="obor" value="{{ student[4] }}" class="form-control mb-2">
<button class="btn btn-success">Uložit</button>
</form>

</body>
</html>
